@model WorkWithData.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Сброс пароля";
}

<main>
    <div class="cover">
        <div class="Login">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary()

                @Html.HiddenFor(model => model.Code)

                <div>
                    Имя учетной записи
                    <div>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>

                <div>
                    Пароль
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>

                <div>
                    Подтвердить пароль
                    <div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>

                <div>
                    <div>
                        <input type="submit" class="btn btn-default" value="Сброс" />
                    </div>
                </div>
            }
        </div>
    </div>
</main>